
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>點擊編輯班表</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />
    <style>
        td {
            height: 30px;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <!--網頁頭-->
    <nav class="navbar navbar-expand-lg" style="background-color:#F0EAD6; height: 100px;">
        <div class="container px-4 px-lg-5">
            <img src="{% static 'myApp/assets/dental.png' %}" alt="DEN Logo">
            <a class="navbar-brand" href="#!" style="font-size: 24px;">牙醫預約平台</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
                <!-- <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit" style="font-size: 20px;" id="nav_btn" onclick="navBtn_listener(event)">
                        <i class="bi bi-person-fill"></i>
                        登入
                    </button>
                </form>-->
            </div>
        </div>
    </nav>

    <section class="py-5" style="background-color:#FFFFF4">
        <div class="container" style="border: 1px solid #F0EAD6;">
            <div class="row row-cols-1">
                <div class="col d-flex align-items-center justify-content-center" style="background-color:#F0EAD6; border: 1px solid #ada089; height:80px; font-size: 20px;">
                    編輯班表
                </div>
                <div class="col" style="background-color:#fffff0; border: 1px solid #ada089; height:600px; font-size: 20px;">
                    <div class="container">
                        <button class="btn btn-outline-dark" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="font-size: 20px; width: 160px; height: 40px;">
                            <i class="bi bi-calendar2-plus-fill"></i>
                            時段
                        </button>
                        <!--時段按鈕的彈跳視窗-->
                        <form id="timePopForm" method="post">
                            {% csrf_token %}
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">編輯時段</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <select class="form-select" id="day_of_week" name="day_of_week" aria-label="Default select example" required>
                                            <option selected disabled value="">選擇星期</option>
                                            <option value="1">週一</option>
                                            <option value="2">週二</option>
                                            <option value="3">週三</option>
                                            <option value="4">週四</option>
                                            <option value="5">週五</option>
                                            <option value="6">週六</option>
                                            <option value="7">週日</option>
                                        </select>
                                        <br>
                        
                                        <div style="text-align: left;">
                                           
                                            <label for="start_time">開始：</label>
                                            <input type="time" id="start_time" name="start_time" min="10:00" max="21:00" step="3600" required/>
                                            <label for="end_time">結束：</label>
                                            <input type="time" id="end_time" name="end_time" min="10:00" max="21:00" step="3600" required/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">刪除</button>
                                        <button type="submit" class="btn btn-primary" id="addTimeSlot" onclick="timePopClick(event)">新增</button>
                                    </div>
                                       
                                </div>
                            </div>
                        </div>
                        </form>
                        <form id="schedulingForm">
                            {% csrf_token %}
                        <div style="border: 20px solid #fffff0; ">
                            <!--選擇第幾週-->
                           <!--選擇天數-->
                           開始：
                           <input type="date"  min="2024-05-20" id="StartDate" name="StartDate"/>
                           結束：
                           <input type="date"  min="2024-05-20" id="EndDate" name="EndDate"/>
                        </div>

                        <table class="table table-bordered" style="border: 1px solid #ada089;" id = "schedule_table">
                            <thead>
                                <tr>
                                    <th scope="col"><i class="bi bi-clock-fill"></i></th>
                                    <th scope="col">週一</th>
                                    <th scope="col">週二</th>
                                    <th scope="col">週三</th>
                                    <th scope="col">週四</th>
                                    <th scope="col">週五</th>
                                    <th scope="col">週六</th>
                                    <th scope="col">週日</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col"><p>10:00<br>-<br>11:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>11:00<br>-<br>12:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>12:00<br>-<br>13:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>13:00<br>-<br>14:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>15:00<br>-<br>16:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>16:00<br>-<br>17:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>17:00<br>-<br>18:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>19:00<br>-<br>20:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                                <tr>
                                    <th scope="col"><p>20:00<br>-<br>21:00<br></p></th>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div style="text-align: right; margin-right: 10px;">
                        
                        
                        <button class="btn btn-outline-dark" type="submit" style="font-size: 20px; width: 160px; height: 40px;" id="btnSchedule">
                            <i class="bi bi-calendar-check-fill"></i>
                            完成
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--頁面底
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'myApp/js/scripts.js' %}"></script>
    <!-- <script src="{% static 'myApp/js/doctor.js' %}"></script>
    Custom JS to handle adding time slots -->
    <script>
        function timePopClick(event) {
            event.preventDefault();
            let checkValue = checkTime();
            if (checkValue !== 'success') {
                alert('Error: ' + checkValue);
                return;
            }
            const day_of_week = document.getElementById('day_of_week').value;
            // console.log("day_of: ", day_of_week)
            const start_time = document.getElementById('start_time').value;
            // console.log("First_get_startTime: ", start_time);
            const end_time = document.getElementById('end_time').value;
            
            // const formData = new FormData(form);
            // Convert FormData to a plain object
            const working_hour = {
                'day_of_week': day_of_week,
                'start_time': start_time,
                'end_time': end_time
            };
            let working_hour_list= JSON.parse(localStorage.getItem('working_hour_list')) || [];
            working_hour_list.push(working_hour);
            localStorage.setItem('working_hour_list', JSON.stringify(working_hour_list));

            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                const value = localStorage.getItem(key);
                console.log(`${key}: ${value}`); // This loop iterates through all local storage, not just working hours
            }
            
            const rowIndex = getRowIndex(start_time)+1;

            // Verify if rowIndex is within the range 0 to 8
            if (rowIndex >= 0 && rowIndex <= 8) {
                const table = document.getElementById('schedule_table'); // Ensure you have the correct table ID
                const row = table.rows[rowIndex];
                const cell = row.cells[day_of_week];
                const initialWidth = cell.offsetWidth;
                const initialHeight = cell.offsetHeight;
                console.log('h = ' + initialHeight);
                cell.style.backgroundColor = '#6D6460';
                cell.style.width = `${initialWidth}px`;
            }else{
                console.log("no row")
            }

            alert('Working hour added successfully!');

            // Close the modal
            const modal = document.getElementById('staticBackdrop');
            const modalInstance = bootstrap.Modal.getInstance(modal);
            modalInstance.hide();
        }

        document.getElementById('schedulingForm').addEventListener('submit', async function(event){
            event.preventDefault();
            const StartDate = document.getElementById('StartDate').value;
            const EndDate = document.getElementById('EndDate').value;
            // const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            if (!StartDate || !EndDate) {
                alert("請填寫開始日期和結束日期。");
                return;
            }
            
            if(StartDate > EndDate){
                 alert("請選擇正確的開始和結束日期。結束日期必須晚於開始日期。")
                 return;
             }
            const data = {
                'StartDate': StartDate,
                'EndDate': EndDate
            };
            localStorage.setItem('schedulingForm', JSON.stringify(data));

            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                const value = localStorage.getItem(key);
                console.log(`${key}: ${value}`); // This loop iterates through all local storage, not just working hours
            }
            alert("成功加入schedule到localstorage")
            window.location.href = '/doctor/data/edit';
            for (let i = 0; i < localStorage.length; i++) {
                const key = localStorage.key(i);
                const value = localStorage.getItem(key);
                console.log(`${key}: ${value}`); // This loop iterates through all local storage, not just working hours
            }

            // fetch(`/scheduling/upload/`,{
            //     method: 'POST',
            //     headers: {
            //         'Content-Type': 'application/json',
            //         'X-CSRFToken': csrfToken
            //     },
            //     body: JSON.stringify(data)
            // })
            // .then(async response => {
            //     if (!response.ok) {
            //         throw new Error('Failed to add scheduling');
            //     }
            //     const data = await response.json();
            //     // 处理成功响应，例如显示成功消息或重定向
            //     alert('scheduling added successfully!');
            //     window.location.href = '/doctor/data/edit';
                    
            // })
            // .then(data => {
            //     if (data.status === 'success') {
            //         const localStorageData = data.localStorageData;
            //         // Store the JSON string in local storage
            //         localStorage.setItem('doctorData', localStorageData);
            //         for (let i = 0; i < localStorage.length; i++) {
            //             const key = localStorage.key(i);
            //             const value = localStorage.getItem(key);
            //             console.log(`${key}: ${value}`);
            //         }
            //         setTimeout(function(){console.log(data.info)}, 2000) 
            //         alert(data.message);
            //         window.localStorage.setItem('readyRegis', 'yes')
            //     } else {
            //         alert(data.message);
            //     }
            // })
            // .catch(error => {
            //     console.error('Error fetching scheduling list:', error);
            //     // 处理错误情况
            // });
        })

        /*var scheduleForm = document.getElementById('schedulingForm');
        scheduleForm.addEventListener('submit', function(event){
            event.preventDefault();
            const startDate = document.getElementById('StartDate').value;
            const endDate = document.getElementById('EndDate').value
            if(startDate < endDate){
               scheduleForm.submit()
            }else{
                alert("請選擇正確的開始和結束日期。結束日期必須晚於開始日期。")
            }
            
        });*/

        // Function to set minutes to 00
        function adjustTimeToHour(input) {
            const timeValue = input.value;
            if (timeValue) {
                const [hour,] = timeValue.split(':');
                input.value = `${hour}:00`;
            }
        }


        // Listen for changes on time inputs
        document.getElementById('start_time').addEventListener('change', function() {
            adjustTimeToHour(this);
        });

        document.getElementById('end_time').addEventListener('change', function() {
            adjustTimeToHour(this);
        });

        function getRowIndex(startTime) {
            console.log("startTime_for_mapping: ", startTime);
            const timeMapping = {
                '10:00': 0,
                '11:00': 1,
                '12:00': 2,
                '13:00': 3,
                '15:00': 4,
                '16:00': 5,
                '17:00': 6,
                '19:00': 7,
                '20:00': 8
            };
            return timeMapping[startTime];
        }

        function checkTime() {
            console.log('checkTime');
            const startTime = document.getElementById('start_time').value;
            const endTime = document.getElementById('end_time').value;
            const daySelect = document.getElementById('day_of_week');
            const selectedDay = daySelect.value;
            console.log("st = "+startTime+"  et = "+endTime+"  sDay = "+selectedDay)
            // Validate the times
            if(selectedDay != ""){
                if (startTime && endTime && endTime > startTime ) {
                    // Check if the time range fits within any of the allowed intervals
                    const validIntervals = [
                        {start: '10:00', end: '11:00'},
                        {start: '11:00', end: '12:00'},
                        {start: '12:00', end: '13:00'},
                        {start: '13:00', end: '14:00'},
                        {start: '15:00', end: '16:00'},
                        {start: '16:00', end: '17:00'},
                        {start: '17:00', end: '18:00'},
                        {start: '19:00', end: '20:00'},
                        {start: '20:00', end: '21:00'}
                    ];
                    const isValid = validIntervals.some(interval => startTime >= interval.start && endTime <= interval.end);

                    if (isValid) {
                        return "success";
                    } else {
                        return "timeInvalid"
                        //alert('選擇的時間範圍無效。請選擇以下區間段之一：10:00-14:00，15:00-18:00，19:00-21:00。');
                    }
                } else {
                    return "timeWrong";
                // alert('請選擇正確的開始和結束時間。結束時間必須晚於開始時間。');
                }
            }else{
                return "dayNotExist"
            }
        };
    </script>
</body>                        
</html>
