<!--這是要試著在workingHour用render 但這樣又要再跟時間表合起來
而且workingHour在前端是彈跳視窗 所以還要再研究一下怎麼用-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>點擊編輯班表</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href={% static 'myApp/css/styles.css' %} rel="stylesheet" />
    <style>
        td {
            height: 30px;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
                        <!--時段按鈕的彈跳視窗-->
                        <form id="timePopForm" method="POST" action="{% url "working_hour_upload" %}">
                            {% csrf_token %}
                            {{form.as_p }}
                        </form>
</body>                        
</html>