{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User Reserve</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />
         <!-- Bootstrap date-->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <style>
            .button-container {
                display: flex;
                flex-direction: column;
            }
    
            .button-row {
                display: flex;
            }
    
            .rounded-button {
                margin: 5px;
                border-radius: 10px;
                padding: 10px;
                background-color: rgb(185, 158, 117);
                border: none;
                cursor: pointer;
            }
    
            .popup {
                display: none;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 20px;
                border: 1px solid black;
                border-radius: 10px;
                z-index: 999;
            }
    
            .popup-overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 998;
            }
    
            .popup-buttons {
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <!--網頁頭-->
        <nav class="navbar navbar-expand-lg" style="background-color:#F0EAD6;  height: 100px;">
            <div class="container px-4 px-lg-5">
                <img src="{% static 'myApp/assets/dental.png' %}" alt="DEN Logo">
                <a class="navbar-brand" href="#!"  style="font-size: 24px;" onclick="mainPage(event)"> 牙醫預約平台</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" style="font-size: 20px;">找醫師</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="font-size: 20px;">紀錄</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="font-size: 20px;">Q&A</a></li>
                    </ul>
                    <form class="d-flex" style="text-align: right; margin-right: 10px;">
                        <button class="btn btn-outline-dark" type="submit"  onclick="navBtn_listener(event)" style="font-size: 20px;" id="nav_btn">
                            <i class="bi bi-person-fill"></i>
                            登入
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!--選取的診所名稱-->
        <section class="py-5"  style="background-color:#FFFFF4">
            <div class="container" style="border: 1px solid #F0EAD6;">
                <div class="row row-cols-1">
                    <div class="col d-flex align-items-center justify-content-center" style="background-color:#F0EAD6; border: 1px solid #ada089; height:80px; font-size: 20px; ">
                        
                        <span id="clinic-name">{{ clinic.name }}診所</span>
                    </div>
                    <!--內容-->
                    <div class="col" style="background-color:#fffff0; border: 1px solid #ada089; height:760px; font-size: 20px;">
                    <br>
                        <label for="date1">診所介紹 : {{ clinic.introduction }}</label>
                        <span id="clinic-introduction"></span>
                    <br>
                        <label for="date1">地址 : {{ clinic.address }}</label>
                        <span id="clinic-addresss"></span>
                        
                    <br>
                        <!--選取治療項目-->
                        <label for="date1">項目</label>
                        <select id="experSelect" class="form-select" aria-label="Default select example" style="width: 320px; height: 40px; font-size: 16px;">
                        </select>
                    <br>
                        <!--選取醫師>-->
                        <label for="date1">醫師</label>
                        <select class="form-select" aria-label="Default select example" style="width: 320px; height: 40px; font-size: 16px;" id="doctorSelect" name="doctorSelect">
                        </select>
                        <button id="btnDoctor"  type="submit">確認選擇醫生</button>
                        
                    <br>
                        

                         <!-- 確認預約 -->
                         <script>
                            document.addEventListener('DOMContentLoaded', () => {
                                initialData()
                                document.getElementById('experSelect').addEventListener("change", expertiseChange)
        
                            });

                            //載入診所名 介紹 地址(改用render)
                            // 此診所的所有expertise(用ajax)
                            function initialData(event){
                                /*event.preventDefault();
                                fetch(`/clinic/reserve/<int:clinic_id>/`)
                                .then(response => response.json())
                                .then(data => {
                                    診所基本資料
                                    document.getElementById('clinic-introduction').textContent = data.name + 診所;
                                    document.getElementById('clinic-introduction').textContent = data.introduction;
                                    document.getElementById('clinic-address').textContent = data.address;
                                })
                                .catch(error => {
                                    console.error('Error fetching initial info:', error);
                                });*/
                                const clinic_id = {{ clinic.id }}

                                fetch(`/clinic/expertise-list/${clinic_id}/`)
                                .then(response => response.json())
                                .then(data => {
                                    const experSelect = document.getElementById('experSelect')
                                    experSelect.innerHTML = '<option value="" selected disabled>選擇看診項目</option>'
                                    const expertise_list = data.expertise_list
                                    expertise_list.forEach(expertise => {
                                        const option = document.createElement('option');
                                        option.value = expertise.id;
                                        option.textContent = `${expertise.name}`;
                                        experSelect.appendChild(option);
                                    })
                                })
                                .catch(error => {
                                    console.error('Error fetching expertise:', error);
                                });
                            }

                            //選擇不同expertise時 會取出不同醫生
                            function expertiseChange(event){
                                event.preventDefault();
                                const expertise_id = event.target.value;
                                console.log('id = ' + expertise_id)
                                fetch(`/doctor-list/expertise/${expertise_id}/`)
                                .then(response => response.json())
                                .then(data => {
                                    const doctor_list = data.doctor_list
                                    const doctorSelect = document.getElementById('doctorSelect')
                                    doctorSelect.innerHTML = '<option value="" selected disabled>選擇醫生</option>'
                                    doctor_list.forEach(doctor => {
                                        console.log('docAdd')
                                        const option = document.createElement('option');
                                        option.value = doctor.id;
                                        option.textContent = `${doctor.name}`;
                                        doctorSelect.appendChild(option);
                                    })
                                })
                                .catch(error => {
                                    console.error('Error fetching doctor list:', error);
                                    // 处理错误情况
                                });
                            }

                            document.getElementById('btnDoctor').addEventListener('click', function(event){
                                event.preventDefault();
                                const doctorSelect = document.getElementById('doctorSelect');
                                const selectedDoctorId = doctorSelect.value;
                                window.location.href = `/doctor/reserve/${selectedDoctorId}/`   
                                
                            })
                                

                        </script>