{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>使用者預約記錄</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>
        <!--網頁頭-->
        <nav class="navbar navbar-expand-lg" style="background-color:#F0EAD6;  height: 100px;">
            <div class="container px-4 px-lg-5">
                <img src="{% static 'myApp/assets/dental.png' %}" alt="DEN Logo">
                <a class="navbar-brand" href="#!"  style="font-size: 24px;" onclick="mainPage(event)"> 牙醫預約平台</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <!-- 導覽列摺疊按鈕 -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <!-- 使用者登入按鈕 -->
                    <div class="ms-auto">
                        <button class="btn btn-outline-dark" type="submit"  style="font-size: 20px;" id="nav_btn">
                            <i class="bi bi-person-fill"></i>
                            登入
                         <!--  <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <section class="py-5"  style="background-color:#FFFFF4">
            <div class="container" style="border: 1px solid #F0EAD6;">
                <div class="row row-cols-1">
                   <!-- 紀錄標題 -->
                    <div class="col d-flex align-items-center justify-content-center" style="background-color:#F0EAD6; border: 1px solid #ada089; height:80px; font-size: 20px; ">
                        我的紀錄
                    </div>
                    <!-- 紀錄表格 -->
                    <div class="col" style="background-color:#fffff0; border: 1px solid #ada089; height:500px; font-size: 20px; overflow: auto;">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th scope="col">項目</th>
                                  <th scope="col">時間</th>
                                  <th scope="col">診所</th>
                                  <th scope="col">醫生</th>
                                  <th scope="col">狀態</th>
                                  <th scope="col">取消</th>
                              </tr>
                          </thead>
                          <tbody id="client_records_body">
                            {% for reservation in reservation_list %}
                                <tr>
                                    <td>{{ reservation.expertise }}</td>
                                    <td>{{ reservation.appointment_date }} {{ reservation.appointment_time }}</td>
                                    <td>{{ reservation.clinic_name }}</td>
                                    <td>{{ reservation.doctor_name }}</td>
                                    <td>{{ reservation.status }}</td>
                                    <td>
                                        <form method="post" action="{% url 'client_cancel_reservation'%}">
                                            {% csrf_token %}
                                            <div>
                                                <button type="submit" class="rectangle-button">取消預約</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>

            </section>
             <!--頁面底-->
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="{% static 'myApp/js/scripts.js' %}"></script>
            <script>

                document.addEventListener("DOMContentLoaded", function(){
                    clin_reserve_info();
                })

                function clin_reserve_info() {
                    fetch('/client/records/')
                        .then(response => response.json())
                        .then(data => {
                            const reservations = data.reservation_list;
                            const clinic_info = data.clinics;
                            const tableBody = document.getElementById('client_records_body');
                            reservations.forEach(reservation => {
                                const row = document.createElement('tr');
                                row.innerHTML = `
                                </td>
                                    <td>${reservation.expertise}</td>
                                    <td>${reservation.appointment_date}  ${reservation.appointment_time}</td>
                                    <td>${reservation.clinic_name}</td>
                                    <td>${reservation.doctor_name}</td>
                                    <td>${reservation.status}</td>
                                    <td>
                                        <form id="btnCancelReserve">
                                        {% csrf_token %}
                                        <div>
                                            <button type="submit" class="rectangle-button" onclick="cancelReserve(event)">取消預約</button>
                                        </div>
                                    </form>
                                    </td>
                                `;
                                tableBody.appendChild(row);
                            });
                        })
                        .catch(error => console.error('Error:', error));
                }

                function cancelReserve(event){
                    event.preventDefault()
                }
            </script>
    </body>
</html>