<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>User Account</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />
    <!-- Bootstrap date-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>
        .form-select {
            font-size: 15px;
        }
        #gender option {
            color: #808080; /* 您可以根據需要設置不同的顏色 */
        }
    </style>
</head>
<body style="background-color:#FFFFF4">
    <!--網頁頭-->
    <nav class="navbar navbar-expand-lg" style="background-color:#F0EAD6; height: 100px;">
        <div class="container px-4 px-lg-5">
            <img src="{% static 'myApp/assets/dental.png' %}" alt="DEN Logo">
            <a class="navbar-brand" href="#!" style="font-size: 24px;" onclick="mainPage(event)">牙醫預約平台</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ms-auto">
                    <button class="btn btn-outline-dark" id="nav_btn" type="submit" onclick="navBtn_listener(event)" style="font-size: 20px;">
                        <i class="bi bi-person-fill"></i> 使用者
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!--就只是字-->
    <section class="py-5" style="background-color:#FFFFF4;">
        <div class="container">
            <div class="row row-cols-1">
                <form id="clientForm" style="background-color: #F0EAD6; border: 1px solid #ada089;">
                    {% csrf_token %}
                    <fieldset>
                        <legend id="barTitle" class="col d-flex align-items-center justify-content-center" style="background-color:#F0EAD6; border: #F0EAD6; height:70px; font-size: 20px;">
                            我的帳號
                        </legend>
                        <!--註冊內容-->
                        <div class="col" style="background-color:#fffff0; border: 1px solid #ada089; height:650px; font-size: 20px;">
                            <div class="container">
                                <div class="row">
                                    <!-- 郵件 -->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="email" class="required">帳號(電子郵件)</label>
                                        <div class="form-floating">
                                            <input type="email" class="form-control loginHide" id="email" name="email" placeholder="請輸入電子郵件" required>
                                            <span id="emailShow"></span>
                                        </div>
                                    </div>
                                    <!-- 電話 -->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="phone_number" class="required">電話</label><span style="color: red;">*</span>
                                        <div class="form-floating">
                                            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="請輸入您的電話" required>
                                        </div>
                                    </div>
                                    <!-- 強制換行 -->
                                    <div class="w-100 d-none d-md-block"></div>
                                    <!-- 地址 -->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="address">地址</label>
                                        <div class="form-floating">
                                            <input type="text" class="form-control half-width" id="address" name="address" placeholder="請輸入您的地址">
                                        </div>
                                    </div>
                                    <!-- 名字 -->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="name" class="required">名字</label><span style="color: red;">*</span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control half-width" id="name" name="name" placeholder="請輸入您的姓名" required>
                                        </div>
                                    </div>
                                    <!-- 強制換行 -->
                                    <div class="w-100 d-none d-md-block"></div>
                                    <!-- 性別-->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="gender" class="required">性別</label><span style="color: red;">*</span>
                                        <div class>
                                            <select class="form-floating" id="gender" name="gender" required>
                                                <option value="">選擇性別</option>
                                                <option value="male">男</option>
                                                <option value="female">女</option>
                                                <option value="unknown">不公開</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- 生日 -->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="birth_date" class="required">生日</label><span style="color: red;">*</span>
                                        <div class="form-floating">
                                            <input type="date" class="form-control half-width" id="birth_date" name="birth_date" required>
                                        </div>
                                    </div>
                                    <!-- 強制換行 -->
                                    <div class="w-100 d-none d-md-block"></div>
                                    <!-- 通知-->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label>是否願意接收通知</label><span style="color: red;">*</span>
                                        <div class="form-floating">
                                            <input type="checkbox" id="notify" name="notify" value="isNotify" checked>是
                                        </div>
                                    </div>
                                    <!-- 職業 -->
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="occupation">職業</label>
                                        <div class="form-floating">
                                            <input type="text" class="form-control half-width" id="occupation" name="occupation" placeholder="請輸入您的職業">
                                        </div>
                                    </div>
                                    <!-- 強制換行 -->
                                    <div class="w-100 d-none d-md-block"></div>
                                    <!-- 密碼-->  
                                    <div class="col-sm-6 col-md-5 col-lg-6">
                                        <br>
                                        <label for="password"  class="required loginHide">密碼</label><span style="color: red;">*</span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control loginHide" id="password" name="password">
                                        </div> 
                                    </div>
                                </div>
                                <!-- 強制換行 -->
                                <div class="w-100 d-none d-md-block"></div>
                                <!-- 排版 -->
                                <div class="col-sm-6 col-md-5 col-lg-6"></div>
                                <!--設定編輯按鈕-->
                                <div class="col-sm-6 col-md-5 col-lg-6"> 
                                    <br>
                                    <button class="rectangle-button" id="btnClieRegis" type="submit">完成</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    <script src="{% static 'js/logout.js' %}" defer></script>
    <!-- 登出按鈕 -->
    <br style="background-color:#FFFFF4">
    <div class="d-flex justify-content-center" style="background-color:#FFFFF4">
        <button class="btn btn-outline-dark" type="button" onclick="redirectToPage()" id="logoutButton" style="font-size: 20px; width: 160px; height: 40px;">
            登出
        </button>
        <script>
            function redirectToPage() {
                window.location.href = 'http://127.0.0.1:8000/home';
            }
            </script>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'myApp/js/scripts.js' %}"></script>
    <script src="{% static 'myApp/js/clinic.js' %}"></script>
    <script src="{% static 'myApp/js/logout.js' %}"></script>
</body>
</html>
