{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>診所主頁面</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />

    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .page-container {
            min-height: 100%;
            background-color: #FFFFF4;
        }
        .content {
            padding: 20px;
        }
    </style>

    <script>
        const csrfToken = "{{ csrf_token }}";  // 将 CSRF 令牌作为 JavaScript 变量直接写入
    </script>
</head>

<body>
    <!--網頁頭-->
    <nav class="navbar navbar-expand-lg" style="background-color:#F0EAD6;  height: 100px;">
        <div class="container px-4 px-lg-5">
            <img src="{% static 'myApp/assets/dental.png' %}" alt="DEN Logo">
            <a class="navbar-brand" href="#!"  style="font-size: 24px;" onclick="mainPage(event)"> 牙醫預約平台</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"></ul>
                <div class="ms-auto">
                    <button class="btn btn-outline-dark" type="submit" id="nav_btn" onclick="navBtn_listener(event)" style="font-size: 20px;">
                        <i class="bi bi-person-fill"></i>
                        使用者
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <section class="py-5"  style="background-color:#FFFFF4">
        <div class="container">
                    <div class="p-3" style="height:600px;">
                        <div class="col d-flex align-items-center justify-content-center" style="background-color:#F0EAD6; border: 1px solid #ada089; height:80px; font-size: 20px;">
                            當日預約確認報到
                        </div>
                          <!-- 當日預約表格 -->
                        <div class="col d-flex justify-content-center" style="background-color:#FFFFF0; border: 1px solid #ada089; height:500px; font-size: 20px; overflow: auto;">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th scope="col">時間</th>
                                      <th scope="col">姓名</th>
                                      <th scope="col">項目</th>
                                      <th scope="col">狀態</th>
                                  </tr>
                              </thead>
                              <tbody id="clinic_reserve_body">
                                <!--<tr>
                                    <td>A</td>
                                    <td>A</td>
                                    <td>A</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-dark" id="reportButton1" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="font-size: 15px;">
                                            <i class="bi bi-x-circle"></i> 未報到
                                        </button>
                                        <!-- Report Modal 1
                                        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel1">報到確認</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        是否確認報到？
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" id="confirmReportButton1" data-bs-dismiss="modal">是</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-dark" id="appointmentButton1" data-bs-toggle="modal" data-bs-target="#appointmentModal1" style="font-size: 15px;" disabled>
                                            <i class="bi bi-calendar-check"></i> 預約
                                        </button>
                                        <!-- New Appointment Modal 1 
                                        <div class="modal fade" id="appointmentModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="appointmentModalLabel1" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="appointmentModalLabel1">下次預約確認</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        是否要預約下次服務？
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" id="confirmAppointmentButton1" data-bs-dismiss="modal">是</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>-->
                              </tbody>
                          </table>
                      </div>
                      
                    </div>
        </div>
    </section>

    <!--頁面底-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'myApp/js/scripts.js' %}"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function(event){
            event.preventDefault()
            clin_reserve_info();
        })
        
        var reservation_id = "";

        function clin_reserve_info() {
            fetch('/clinic/load/')
                .then(response => response.json())
                .then(data => {
                    const reservations = data.reservations;
                    const clinic_info = data.clinic;
                    /*reservation_id = clinic_info.id
                    console.log("id out" + reservation_id)*/
                    console.log('res = ' + clinic_info)
                    const tableBody = document.getElementById('clinic_reserve_body');
                    reservations.forEach(reservation => {
                        reservation_id = reservation.id
                        console.log("id in" + reservation_id)
                        const row = document.createElement('tr');
                        const statusCell = document.createElement('td');
                        statusCell.innerHTML = change_status(reservation.status, reservation.id, clinic_info.id);
                        
                        row.innerHTML = `
                            <td>${reservation.appointment_date}  ${reservation.appointment_time}</td>
                            <td>${reservation.client_name}</td>
                            <td>${reservation.expertise}</td>
                        `;
                        row.appendChild(statusCell);
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
          }
        
        //根據不同狀態改變innerHtml
        function change_status(status, reservation_id, clinic_id){
            let result = "";
            if(status == 'reserved'){
                result = `<button type="button" class="btn btn-outline-dark" 
                                    data-bs-toggle="modal" data-bs-target="#checkinModal${reservation_id}" 
                                    data-index="${reservation_id}" style="font-size: 15px;">
                                <i class="bi bi-calendar-check"></i> 病患報到
                            </button>
                            <div class="modal fade" id="checkinModal${reservation_id}" tabindex="-1" aria-labelledby="checkinModalLabel${reservation_id}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="checkinModalLabel${reservation_id}">病患報到狀態</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="checkinButton${reservation_id}" 
                                                data-bs-dismiss="modal"  onclick="update_status_two(${reservation_id})">
                                                病患已報到
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="update_status_one(${reservation_id})">
                                                病患未報到
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>`
            }else if(status == 'checkin failed'){
                result = `病患未報到`
            }else if(status == 'checkin successed'){
                result = `<button type="button" class="btn btn-outline-dark" data-index="${reservation_id}" style="font-size: 15px;" onclick="update_status_three(${reservation_id})">
                            <i class="bi bi-calendar-check"></i> 開始看診
                          </button>`
            }else if(status == 'in treatment'){
                result = `<button type="button" class="btn btn-outline-dark" data-index="${reservation_id}" style="font-size: 15px;" onclick="update_status_four(${reservation_id})">
                            <i class="bi bi-calendar-check"></i> 看診完成
                        </button>`
            }else if(status == 'finish'){
                result = `<button type="button" class="btn btn-outline-dark" 
                                    data-bs-toggle="modal" data-bs-target="#appointmentModal${reservation_id}" 
                                    data-index="${reservation_id}" style="font-size: 15px;">
                                <i class="bi bi-calendar-check"></i> 預約下次看診
                            </button>
                            <div class="modal fade" id="appointmentModal${reservation_id}" tabindex="-1" aria-labelledby="appointmentModalLabel${reservation_id}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="appointmentModalLabel${reservation_id}">下次預約確認</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            是否要預約下次服務？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary appointment-button" id="confirmAppointmentButton${reservation_id}" 
                                                data-bs-dismiss="modal" data-clinic-id="${clinic_id}">
                                                是
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                否
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>`
            }else if(status == 'cancelled by doc'){
                result = `醫生取消此預約`
            }
            return result
        }

        document.addEventListener('click', function(event) {
            if (event.target.matches('.appointment-button')) {
                const clinicId = event.target.dataset.clinicId;
                window.location.href = `/clinic/reserve/${clinicId}/`;
            
            }
        });

        //連到各個views.py去更新status
        function update_status_one(reservationId) {
            
            fetch(`/reservation/status/change/checkinfailed/${reservationId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken  // 添加 CSRF 令牌
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    window.location.href = '/clinic/home/'
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        
        function update_status_two(reservationId) {
            
            fetch(`/reservation/status/change/checkinsuccessed/${reservationId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken  // 添加 CSRF 令牌
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    window.location.href = '/clinic/home/'
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        
        function update_status_three(reservationId) {
            
            fetch(`/reservation/status/change/intreatment/${reservationId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken  // 添加 CSRF 令牌
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    window.location.href = '/clinic/home/'
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        
        function update_status_four(reservationId) {
            
            fetch(`/reservation/status/change/finished/${reservationId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken  // 添加 CSRF 令牌
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    window.location.href = '/clinic/home/'
                } else {
                    alert('Error: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        

        
    </script>
</body>
</html>