{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User Reserve</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'myApp/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />
         <!-- Bootstrap date-->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <style>
            .button-container {
                display: flex;
                flex-direction: column;
            }
    
            .button-row {
                display: flex;
            }
    
            .rounded-button {
                margin: 5px;
                border-radius: 10px;
                padding: 10px;
                background-color: rgb(185, 158, 117);
                border: none;
                cursor: pointer;
            }
    
            .popup {
                display: none;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 20px;
                border: 1px solid black;
                border-radius: 10px;
                z-index: 999;
            }
    
            .popup-overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 998;
            }
    
            .popup-buttons {
                margin-top: 10px;
            }
            #doctor_id {
                display: none;
            }
        </style>
       
    </head>
    <body>
        <!--網頁頭-->
        <nav class="navbar navbar-expand-lg" style="background-color:#F0EAD6;  height: 100px;">
            <div class="container px-4 px-lg-5">
                <img src="{% static 'myApp/assets/dental.png' %}" alt="DEN Logo">
                <a class="navbar-brand" href="#!"  style="font-size: 24px;"> 牙醫預約平台</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" style="font-size: 20px;">找醫師</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="font-size: 20px;">紀錄</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="font-size: 20px;">Q&A</a></li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit"  style="font-size: 20px;" id = 'nav_btn' onclick='navBtn_listener(event)'>
                            <i class="bi bi-person-fill"></i>
                            登入
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!--選取的診所名稱-->
        
        <section class="py-5"  style="background-color:#FFFFF4">
            <div class="container" style="border: 1px solid #F0EAD6;">
                <div class="row row-cols-1">
                    <div class="col d-flex align-items-center justify-content-center" style="background-color:#F0EAD6; border: 1px solid #ada089; height:80px; font-size: 20px; ">
                        XX醫師 XX診所
                    </div>
                    <!--內容-->
                    <div class="col" style="background-color:#fffff0; border: 1px solid #ada089; height:760px; font-size: 20px;">
                    <br>
                        <div id="doctor-experience"></div>
                        <div id="clinic-info"></div>
                        <div id="doctor-address"></div>
                        
                        <h1>Doctor Reservation</h1>
                            <div id="doctor-info">
                                <h2>{{ doctor }}</h2>
                                <p>Email: {{ doctor.email }}</p>
                                <p>Phone: {{ doctor.phone_number }}</p>
                                <p>Clinic: {{ doctor.clinicID.name }}</p>
                                <p>學經歷: {{ doctor.experience }}</p>
                                 <!-- 渲染醫師的學經歷 -->
                            
                            </select>
                        </div>

                        <form id="reservationForm" method="post" action='/add/reservation/' >
                            {% csrf_token %}
                            <label for="doctor_id"></label>
                            {% comment %} {{ doctor.id }} {% endcomment %}

                            <input type="input" id="doctor_id" name="doctor_id" value={{ doctor.id }}>

                            {% comment %} <input type="number" id="doctor_id" name="doctor_id">  {% endcomment %}
                            
                            <br>
                            <label for="date">reservation date：</label>
                            <input type="date" id="date" name="date">
                       
                            </br>
                            <label for="expertise_name">treatments：</label>
                            <select id="expertise_name" name="expertise_name" class="form-select" aria-label="Select Expertise">
                                <option selected disabled>選擇專業</option>
                                {% for expertise in expertise_list %}
                                <option value="{{ expertise }}">{{ expertise }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <label for="time_start">starting time：</label>
                            <select id="time_start" name="time_start" disabled>
                                <!-- 可用时间选项将由 JavaScript 动态添加 -->
                            </select>
                        </br>
                         
                       
                            <button class="btn btn-outline-dark"  type="submit">預約</button>
                        </form>


                    <br>
                       



                        <label for="date1">時段</label>
                        <div class="button-container">
                            <div class="button-row">
                                <button id="timeslot" class="rounded-button" onclick="showPopup('時段1', 'timeslot')">時段1</button>
                                <button id="timeslot2" class="rounded-button" onclick="showPopup('時段2', 'timeslot2')">時段2</button>
                                <button id="timeslot3" class="rounded-button" onclick="showPopup('時段3', 'timeslot3')">時段3</button>
                                <button id="timeslot4" class="rounded-button" onclick="showPopup('時段4', 'timeslot4')">時段4</button>
                                <button id="timeslot5" class="rounded-button" onclick="showPopup('時段5', 'timeslot5')">時段5</button>
                            </div>
                            <div class="button-row">
                                <button id="timeslot6" class="rounded-button" onclick="showPopup('時段6', 'timeslot6')">時段6</button>
                                <button id="timeslot7" class="rounded-button" onclick="showPopup('時段7', 'timeslot7')">時段7</button>
                                <button id="timeslot8" class="rounded-button" onclick="showPopup('時段8', 'timeslot8')">時段8</button>
                                <button id="timeslot9" class="rounded-button" onclick="showPopup('時段9', 'timeslot9')">時段9</button>
                                <button id="timeslot10" class="rounded-button" onclick="showPopup('時段10', 'timeslot10')">時段10</button>
                            </div>
                        </div>

                        <div class="popup-overlay" id="popupOverlay"></div>
                        <div class="popup" id="popup">
                            <div id="popupContent"></div>
                            <div class="popup-buttons">
                            <button onclick="confirmSelection(true)">是</button>
                            <button onclick="confirmSelection(false)">否</button>
                            </div>
                        </div>

                         <!-- 確認預約 -->
                         <script src="{% static 'myApp/js/scripts.js' %}" ></script>

<script>
   
    document.addEventListener('DOMContentLoaded', function () {
       
        const doctorIdInput = {{ doctor.id }};
        const expertiseDropdown = document.getElementById('expertiseDropdown');
        const workingHoursContainer = document.getElementById('working_hours');

        doctorIdInput.addEventListener('change', function() {
            const doctorId = doctorIdInput.value;
            if (doctorId) {
                fetch(`/doctor/expertise-list/${doctorId}/`)
                    .then(response => response.json())
                    .then(data => {
                        expertiseDropdown.innerHTML = '<option selected disabled>選擇專業</option>'; // Clear and add default option
                        const expertiseSet = new Set(); // Use a set to store unique expertise
                        data.expertise_list.forEach(expertise => {
                            expertiseSet.add(expertise.name); // Add each expertise to the set
                        });
                        expertiseSet.forEach(expertiseName => {
                            const option = document.createElement('option');
                            option.value = expertiseName;
                            option.textContent = expertiseName;
                            expertiseDropdown.appendChild(option); // Add unique expertise to the dropdown
                        });
                    })
                    .catch(error => console.error('Error fetching doctor expertise list:', error));
    
                fetch(`/get_doc_working/${doctorId}/`)
                    .then(response => response.json())
                    .then(data => {
                        workingHoursContainer.innerHTML = '';
                        data.working_hours.forEach(workingHour => {
                            const li = document.createElement('li');
                            li.textContent = `${workingHour.start_date} - ${workingHour.end_date}: ${workingHour.start_time} - ${workingHour.end_time}`;
                            workingHoursContainer.appendChild(li);
                        });
                    })
                    .catch(error => console.error('Error fetching doctor working hours:', error));
            }
        });
    });

    function fetchAvailableTimes() {
        const doctorId =    {{ doctor.id }};
        const date = document.getElementById('date').value;
        const expertiseName = document.getElementById('expertise_name').value;

        if (doctorId && date && expertiseName) {
            fetch(`/available?doctor_id=${doctorId}&date=${date}&expertise_name=${expertiseName}`)
                .then(response => response.json())
                .then(data => {
                    const timeSelect = document.getElementById('time_start');
                    timeSelect.innerHTML = '';
                    data.reserve_choices.forEach(choice => {
                        const option = document.createElement('option');
                        option.text = choice;
                        option.value = choice;
                        timeSelect.add(option);
                    });
                    timeSelect.disabled = false;
                })
                .catch(error => console.error('Error fetching available times:', error));
                console.log(date)
        }
    }

    document.getElementById('date').addEventListener('input', fetchAvailableTimes);
    //document.getElementById('doctor_id').addEventListener('input', fetchAvailableTimes);
    document.getElementById('expertise_name').addEventListener('input', fetchAvailableTimes);


</script>

     <script>

                            let currentButtonId = null;
                            const confirmedButtons = new Set();

                            function showPopup(timeSlot, buttonId) {
                                currentButtonId = buttonId;
                                const button = document.getElementById(buttonId);

                                let message = '是否確認預約?' ;

                                if (confirmedButtons.has(buttonId)) {
                                    message = '是否確認候補?' ;
                                }

                                document.getElementById('popupContent').innerText = message ;
                                document.getElementById('popup').style.display = 'block';
                                document.getElementById('popupOverlay').style.display = 'block';
                            }

                            function changeText(buttonId) {
                                const button = document.getElementById(buttonId);
                                if (confirmedButtons.has(buttonId)) {
                                    button.textContent = '確認候補';
                                } else {
                                    button.textContent = '確認預約';
                                }
                                    button.style.backgroundColor = '#2e1a02';
                            }

                            function confirmSelection(isConfirmed) {
                                if (isConfirmed) {
                                    const button = document.getElementById(currentButtonId);
                                    if(button.textContent == '確認預約'){
                                        alert('您已預約此時段');
                                    } else{
                                        alert('您已確認此時段候補');
                                    }

                                    changeText(currentButtonId);
                                    button.disabled = true;
                                } else {
                                    alert('您已取消預約此時段');
                                }
                                document.getElementById('popup').style.display = 'none';
                                document.getElementById('popupOverlay').style.display = 'none';
                            }
                        </script>
                         
                        <script>
                            function showup(message) {
                                document.getElementById('popContent').innerText = message;
                                document.getElementById('popContent').appendChild(document.createElement('br')); // 插入換行
                                document.getElementById('pop').style.display = 'block';
                                document.getElementById('popOverlay').style.display = 'block';
                                var okButton = document.createElement('button');
                                okButton.innerText = 'OK';
                                okButton.onclick = closeup;
                                document.getElementById('popContent').appendChild(okButton);
                            }

                            function closeup() {
                                document.getElementById('pop').style.display = 'none';
                                document.getElementById('popOverlay').style.display = 'none';
                            }

                        </script>

                        